.row-fluid
  .col-sm-2
    .panel
      =link_to "Categorie", article_categories_path, :remote=> true, class: "btn btn-primary"
      =link_to "Articoli incompleti", incomplete_articles_path, :remote=> true, class: "btn btn-primary"
      =link_to "Crea articolo", new_article_path, :remote=> true, class: "btn btn-primary"
  .col-sm-10.internal-panel
    #articles_content
      =render :partial => 'articles/incomplete_items'
