.row-fluid
  .col-sm-2
    .panel
      =link_to "Posizioni", position_codes_path, :remote=> true, class: "btn btn-primary", style: "width: 11em; margin: .1em;"
      =link_to "Categorie", article_categories_path, :remote=> true, class: "btn btn-primary", style: "width: 11em; margin: .1em;"
      =link_to "Elenco ordini uscita", output_orders_path, :remote=> true, :method => :get, class: "btn btn-primary", style: "width: 11em; margin: .1em;"
      =link_to "Crea articolo", new_article_path, :remote=> true, class: "btn btn-primary", style: "width: 11em; margin: .1em;"
      =link_to "Elenco articoli", incomplete_articles_path, :remote=> true, class: "btn btn-primary", style: "width: 11em; margin: .1em;"
      =link_to "Elenco pezzi", items_path, :remote=> true, class: "btn btn-primary", style: "width: 11em; margin: .1em;"
      =link_to "Riposiziona pezzi", items_reposition_path, :remote=> true, :method => :post, class: "btn btn-primary", style: "width: 11em; margin: .1em;"
      =link_to "Prezza pezzi", items_pricing_path, :remote=> true, :method => :post, class: "btn btn-primary", style: "width: 11em; margin: .1em;"
  .col-sm-10
    #articles_content
      =render :partial => 'articles/incomplete_items'
