#output_content
  .container-fluid
    .row-fluid
      .col-sm-4
        = link_to "Per ODS", output_worksheet_path, remote: true, class: 'btn btn-primary'
      .col-sm-4
        = link_to "Minuteria ufficio/officina", output_office_path, remote: true, class: 'btn btn-primary'
      .col-sm-4
        = link_to "Per mezzo", output_vehicle_path, remote: true, class: 'btn btn-primary'
