#reception_content
  =link_to "Inserisci da magazzino vecchio", items_storage_insert_path, :remote=> true, class: "btn btn-primary"
  =link_to "Inserisci da mezzo", items_vehicle_insert_path, :remote=> true, class: "btn btn-primary"
  =link_to "Inserisci da DDT", items_new_order_path, :remote=> true, class: "btn btn-primary"
  -# =link_to "Scansione DDT", items_scan_order_path, :remote=> true, class: "btn btn-primary"
  -# -Order.all.each do |o|
  -#   =link_to "Ordine esistente", items_from_order_path(o.id), :remote=> true, class: "btn btn-primary"
