%h1 Magazzino
.container-fluid
  .panel
    = link_to "Ricezione materiali", storage_reception_path, class: 'btn btn-primary'
    = link_to "Uscita materiali", storage_output_path, class: 'btn btn-primary'
    = link_to "Gestione magazzino", storage_management_path, class: 'btn btn-primary'
    -# %ul.nav.nav-tabs
    -#   %li.active
    -#     = link_to "Ricezione materiali", storage_reception_path, "data-toggle"=>"tab", class: 'btn btn-primary'
    -#   %li
    -#     = link_to "Uscita materiali", storage_output_path, "data-toggle"=>"tab", class: 'btn btn-primary'
    -#   %li
    -#     = link_to "Gestione magazzino", storage_management_path, "data-toggle"=>"tab", class: 'btn btn-primary'
.container-fluid
  .panel
    =render :partial => @partial
