%h1 Magazzino
.container-fluid
  .panel
    %ul.nav.nav-tabs
      %li
        = link_to "Ricezione materiali", "#reception", "data-toggle"=>"tab"
      %li
        = link_to "Uscita materiali", "#output", "data-toggle"=>"tab"
      %li.active
        = link_to "Gestione magazzino", "#management", "data-toggle"=>"tab"
    .tab-content
      .content.tab-pane.fade.in{:id => 'reception'}
        =render :partial => 'storage/reception'
      .content.tab-pane.fade.in{:id => 'output'}
        =render :partial => 'storage/output_initial'
      .content.tab-pane.active.fade.in{:id => 'management'}
        =render :partial => 'storage/manage'
