-@person.relations.each do |r|
  .row
    .col-sm-3
      =r.company.name
      =hidden_field_tag 'relations[[company]]', r.company
    .col-sm-3
      =r.company_relation.name
      =hidden_field_tag 'relations[[relation]]', r.company
