-# %p#notice= notice
%h3 Persone
.container
  .row
    .col-sm-1
      %b='Nome'
    .col-sm-2
      %b='Cognome'
    .col-sm-2
      %b='Ditte / Associazioni'
    .col-sm-1
      %b='Ruoli'
    .col-sm-4
      %b='Note'
    .col-sm-1

.container.scrollable-panel
  -Person.all.each do |p|
    .row
      .col-sm-1
        =p.name
      .col-sm-2
        =p.surname
      .col-sm-2
        -p.relations.each do |r|
          .form-control
            =r.company.name
      .col-sm-1
        -p.relations.each do |r|
          .form-control
            =r.company_relation.name
      .col-sm-4
        =p.notes
      .col-sm-1
        =button_to 'Modifica', edit_person_path(p.id), class: 'inline', method: :get
        =button_to 'x', person_path(p.id), remote: true, method: :delete, class: 'inline'
