-# %p#notice= notice
%h3 Persone
.container
  = form_tag(people_path, method: :get, type: :script, class: 'prevent-cr') do |f|
    = text_field_tag :search, @search, placeholder: 'Cerca..', class: 'form-control', 'data-target': people_path
  .row
    .col-sm-3
      %b='Nome'
    .col-sm-4
      %b='Ditte / Associazioni'
    -# .col-sm-2
    -#   %b='Ruoli'
    .col-sm-3
      %b='Note'
    .col-sm-2

.container.scrollable-panel
  -@filteredPeople.each do |p|
    .row.hover-hilight
      .col-sm-3
        =p.list_name
      .col-sm-4
        -p.relations.each do |r|
          .row
            .col-sm-12
              =r.company.name+', '+r.company_relation.name
      -# .col-sm-2
      -#   .container
      -#     -p.relations.each do |r|
      -#       .row
      -#         .col-sm-2
      -#           =r.company_relation.name
      .col-sm-3
        = 'MDC: '+p.mdc_user.to_s+' - ' unless p.mdc_user.nil?
        = p.notes.to_s
      .col-sm-2
        .inline-input
          =button_to 'Modifica', edit_person_path(p.id), class: 'inline-input', method: :get
        .inline-input
          =button_to 'x', person_path(p.id), method: :delete, class: 'inline-input'

.container
  =button_to 'Crea', new_person_path, class: 'form-control', method: :get
