-# %p#notice= notice
%h3 Modelli
.container
  .row
    .col-sm-2
      %b='Marca'
    .col-sm-2
      %b='Modello'
    .col-sm-2
      %b='Tipo'
    .col-sm-5
      %b='Descrizione'
    .col-sm-1

.container.scrollable-panel
  -VehicleModel.all.each do |v|
    .row
      .col-sm-2
        =v.manufacturer.name
      .col-sm-2
        =v.name
      .col-sm-2
        =v.vehicle_type
      .col-sm-5
        =v.description
      .col-sm-1
        -# =button_to 'Modifica', edit_vehicle_model_path(v.id), class: 'inline', method: :get
        =button_to 'x', vehicle_model_path(v.id), remote: true, method: :delete, class: 'inline'

.container
  =button_to 'Crea', new_vehicle_model_path, method: :get
