-# %p#notice= notice
%h3 Modelli
.container
  .row
    .col-sm-2
      %b='Marca'
    .col-sm-3
      %b='Modello'
    .col-sm-2
      %b='Tipo'
    .col-sm-3
      %b='Descrizione'
    .col-sm-2

.container.scrollable-panel
  -VehicleModel.all.order_by_model.each do |v|
    .row
      .col-sm-2
        =v.manufacturer.name
      .col-sm-3
        =v.name
      .col-sm-2
        =v.vehicle_type.name
      .col-sm-3
        =v.description
      .col-sm-2
        .inline
          =button_to 'Modifica', edit_vehicle_model_path(v.id), method: :get
        .inline
          =button_to 'x', vehicle_model_path(v.id), remote: true, method: :delete

.container
  =button_to 'Crea', new_vehicle_model_path, method: :get
