= button_to 'Ricarica', admin_soap_path, method: :get
.container-fluid.scrollable-panel
  -# = @result
  = 'Session ID: '+@sessionID
  %br
  %br
  -# - @operations.each do |o|
  -#   = o
  -#   %br
  -#
  -# %br
  -# %br

  - @results.each do |r|

    %br

      

      = r.inspect
    %br
    %br
