= button_to 'Ferie', admin_vacation_path, method: :get
= button_to 'Dotazione', admin_gear_path, method: :get
.container-fluid.scrollable-panel
  -# = @result
  -# = 'Session ID: '+@sessionID
  %br
  %br
  -# - @operations.each do |o|
  -#   = o
  -#   %br
  -#
  -# %br
  -# %br
  - unless @results.nil?
    - @results.each do |r|

      %br
      %br
      =r.class
      %br
      =r.inspect
    
      %br
      %br
