-# = javascript_include_tag "Resources/dynamsoft.webtwain.initiate.js"
-# = javascript_include_tag "Resources/dynamsoft.webtwain.config.js"
-# = javascript_include_tag "dwt.js"

#dwtcontrolContainer
#btnLoad{onclick: "btnLoad_onclick();", class: "btn btn-primary"}= "Carica DDT"
#btnScan{onclick: "AcquireImage();", class: "btn btn-primary"}= "Scansiona DDT"
#btnUpload{onclick: "btnUpload_onclick()", class: "btn btn-primary"}= "Upload"



:javascript
