-VehicleModel.all.manufacturer_model_order.each do |vehicle_model|
  .row
    .col-sm-1
      =check_box_tag 'vehicle_category_models[]', vehicle_model.id, @vehicle_category.vehicle_models.include?(vehicle_model)
    .col-sm-8#name
      =vehicle_model.complete_name
