%h2= @user.name
.container-fluid
  .row-fluid
    .col-xs-4
      .panel
        =render :partial => 'user/partials/user_form'
    .col-xs-8
      - unless @user.id.nil?
        .content{:id => 'roles'}
          =render :partial => 'user/partials/roles_form'
