%h2= @user.name
.container-fluid
  .row-fluid
    .col-xs-4
      .panel
        =render :partial => 'user/partials/user_form'
    .col-xs-8
      - if !@user.id.nil?
        .panel
          %ul.nav.nav-tabs
            %li.active
              = link_to "Ruoli", "#roles", "data-toggle"=>"tab"
            %li
              = link_to "Persona", "#person", "data-toggle"=>"tab"
          .tab-content
            .content.tab-pane.active.fade.in{:id => 'roles'}
              =render :partial => 'user/partials/roles_form'
            .content.tab-pane.fade.in{:id => 'person'}
              =render :partial => 'people/form'
          -# %div{:class => "tab-pane active fade in", :id => 'roles'}
          -#   =render :partial => 'user/partials/roles_form'
          -# %div{:class => "tab-pane fade in", :id => 'person'}
          -#   Dati personali
-# .authform
-#   %h3 Cancel Account
-#   %p Unhappy? We'll be sad to see you go.
-#   = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right'
