%h2= @user.name
.row
  .col-xs-4
    .panel
      =render :partial => 'user/partials/user_form'
  .col-xs-8
    - unless @user.id.nil?
      #roles{:id => 'roles', style: 'height: 100vh; padding-bottom: 27em;'}
        =render :partial => 'user/partials/roles_form'

:javascript

  deactivateLoadingScreen();
