.container-fluid
  .row-fluid.item-block
    .col-1-sm
      Articolo
    .col-1-sm
      Quantità
    .col-1-sm
      Seriale
    .col-1-sm
      Stato
    .col-1-sm
      Data scadenza

.container-fluid.scrollable-panel
  - Item.all.each do |item|
    .row-fluid
      .col-1-sm
        item.article.complete_name.to_s
      .col-1-sm
        item.article.availability
      .col-1-sm
        item.serial
      .col-1-sm
        item.state
      .col-1-sm
        item.expiringDate
      
