%div{ style: 'height: 100vh, padding-top: 3em'}
  %ul.nav.nav-tabs
    -# %style
    -#   a:visited,a:link,a:hover,a:active{ color: black; font-style: normal; font-size: +2; }
    %li.active
      =link_to 'Controlli e manutenzione:', '#tab-checks', data: { toggle: 'tab'}, class: 'no-loader'
    - if current_user.has_role?('amministratore officina') || current_user.has_role?(:admin)
      %li
        =link_to 'Gestione', '#tab-checks-management', data: { toggle: 'tab'}, class: 'no-loader'

.tab-content
  .tab-pane#tab-checks.active
    .container-fluid
      .row
        .col-sm-3
          = form_tag(start_check_session_path, method: :post) do |f|
            = text_field_tag 'check_session[vehicle]', nil, placeholder: 'Targa..', class: 'form-control custom_autocomplete', data: { route: custom_vehicle_external_vehicle_autocomplete_path, target: 'VehicleCheckSession' }
            = hidden_field_tag 'check_session[vehicle_id]', nil, data: { target: 'VehicleCheckSession' }, class: 'autocomplete-field ac-VehicleCheckSession-vehicle'
            = hidden_field_tag 'check_session[vehicle_table]', nil, data: { target: 'VehicleCheckSession' }, class: 'autocomplete-field ac-VehicleCheckSession-vehicle'
          -# = render partial: 'carwash/checks'

  - if current_user.has_role?('amministratore officina') || current_user.has_role?(:admin)
    .tab-pane#tab-checks-management
      .container-fluid
        Gestione

:javascript

  activateCustomAutocomplete(function(element){
    return $(element).data();
  });
