#search_form{style: "margin-top: 2em;"}
  = form_tag(last_vehicle_checks_search_path, remote: true) do |f|
    .row
      .col-sm-6
        -# = text_field_tag :id, nil, class: 'form-control', placeholder: 'Cerca controllo..'
        = text_field_tag 'check[label]', nil, placeholder: 'Cerca controllo..', id: 'focus_element', class: 'form-control custom_autocomplete', data: { route: custom_vehicle_checks_autocomplete_path, target: 'VehicleCheck' }
      .col-sm-2
        = submit_tag 'Cerca', class: 'form-control'

#last_vehicle_checks
  -# = render :partial => 'carwash/last_vehicle_checks'
  %p
    %b
      Eseguire una ricerca..

:javascript

  activateCustomAutocomplete(function(element){return $(element).data();});
