-VehicleInformationType.all.order(:name).each do |vehicle_information_type|
  .row
    .col-sm-1
      =check_box_tag 'vehicle_equipment_information_types[]', vehicle_information_type.id, @vehicle_equipment.vehicle_information_types.include?(vehicle_information_type)
    .col-sm-8#name
      =vehicle_information_type.name
