body{
  /*padding: 1em;*/
  /*padding-bottom: 1em;*/
  overflow: hidden;
  /* margin-bottom: 8em; */
  /* margin-top: 5em; */
  display: inline;
}

#center{
  height: 80vh;
  margin-top: 3em;
}

#articles_content{
  height: 80%;
}

.bottom_border{
  border-bottom: 1px solid black;
}

.bottom-box{
  position:absolute;
  bottom: 1em;
  left: 1em;
}

.close{
  margin: 1em;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

.error > .close{
  margin: .5em;
}

.colored:nth-child(odd){
  background-color: #eee;
}

.custom-autocomplete-choice{
  /*height: 3em;
  border: 1px solid black;*/
  border: 0px;
  border-radius: 0px;
}

.custom-autocomplete-choice:hover{
  background-color: #ffa;
}

.custom-autocomplete-choice-selected{
  background-color: #ffa;
}

.custom-autocomplete-dropdown{
    position: absolute;
    z-index: 1500;
    min-height: 1em;
    border: 1px solid gray;
    background-color: #fff;
}

.datepicker-dropdown{
  z-index: 2001;
}

.error{
  background-color: #fee;
  font-weight: bold;
  /* font-size-adjust: +1; */
  font-size: medium;
  max-width: 80vw;
  color: red;
  position: fixed;
  border: .3em solid red;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-55%);
  border-radius: 1em;
  padding: 2em;
  white-space: pre-line;
  z-index: 3000;
}

.error-item{
  background-color: #f99;
  border: 1px solid #d77;
}

.error-line{
  font-weight: bolder;
  color: #f00;
}

.floating-block{
  float: left;
  margin: .5em;
}

.floor{
  position: absolute;
  bottom: 0vh;
}

.gallery-popup{
  padding-left: 0px;
}

.gi-rotate-0{
  transform: rotate(0deg);
  -ms-transform: rotate(0deg); /* IE 9 */
  -moz-transform: rotate(0deg); /* Firefox */
  -webkit-transform: rotate(0deg); /* Safari and Chrome */
  -o-transform: rotate(0deg); /* Opera */
}

.gi-rotate-90{
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}

.gi-rotate-180{
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

.gi-rotate-270{
  transform: rotate(270deg);
  -ms-transform: rotate(270deg); /* IE 9 */
  -moz-transform: rotate(270deg); /* Firefox */
  -webkit-transform: rotate(270deg); /* Safari and Chrome */
  -o-transform: rotate(270deg); /* Opera */
}

.gimage{

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.h40{
  height: 40% !important;
}

.h58{
  height: 58% !important;
}

.half{
  height:45% !important;
}

.hidden-block{
  display: none;
}

.hover-hilight{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hover-hilight:hover{
  background-color: #ccc;
  cursor: pointer;
}

.indent{
  padding-left: 1em;
}

.infobox{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 90vw;
  max-height: 75vh;
  border: .2em solid #00f;
  border-radius: 1em;
  background-color: #fff;
  padding: 2em;
  overflow: hidden;
  /* white-space: pre-line; */
}

.infobox-block{
  max-height: 2em;
  overflow-x: hidden;
  padding: .2em;
  background-color: white;
  border: 1px solid #fff;
  white-space: nowrap;
}

.infobox-block-expanded{
  max-height: 8em;
  z-index: 4000;
  position: absolute;
  border: 1px solid #44f;
  border-radius: .2em;
  overflow-x: hidden;
  background-color: white;
}

.inline{
  position: relative;
  clear: none;
  display: inline-block;
}

.input-row{
  margin-top: .25em;
  margin-bottom: .25em;
}

.internal-panel{
  position: relative;
  height: 100%;
  float:none;
  overflow-y: hidden;
  margin-bottom: 1em;
  /* padding-bottom: 20em; */
}

.item_box{
  margin: .4em
}

.loading-screen{
  /*z-index: 2000;*/
  position: fixed;
  top: 0px;
  left: 0px;
  background: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  font-size: 10em;
}

.loading-text{
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.map-scroll{
  overflow:scroll;
  width: 100%;
  height: 100%;
}

.nav > .nav-tabs > li > a:active{
    color: red !important;
    font-style: normal !important;
    font-size-adjust: +1 !important;
    font-weight: bold !important;
}

.nav > .nav-tabs > li > a:hover{
    color: grey !important;
    font-style: normal !important;
    font-size-adjust: +2 !important;
    font-weight: bold !important;
}

.nav > .nav-tabs > li > a:link{
    color: black !important;
    font-style: normal !important;
    font-size-adjust: +1 !important;
    font-weight: bold !important;
}

.nav > .nav-tabs > li > a:visited{
    color: black !important;
    font-style: normal !important;
    font-size-adjust: +1 !important;
    font-weight: bold !important;
}

.no-margin{
  margin: 0px;
}

.no-padding{
  padding: 0px;
}

.ontop{
  position: fixed;
  z-index: 2000;
}

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 95vw;
  max-height: 75vh;
  border: .2em solid #f00;
  border-radius: 1em;
  background-color: #fff;
  padding: 2em;
  overflow: hidden;
}

.popup .scrollable-panel {
  max-height: 25em;
}

.popup-content{
  overflow: auto;
}

.positioned-item{
  background-color: #9fb;
  border: 1px solid #7d9;
}

.right-aligned{
  float: right;
}

.scrollable-panel{
  position: relative;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.selected-item{
  background-color: #99f;
  border: 1px solid #77d;
}

.selected-row{
  background-color: #99f !important;
}

.signal-danger{
  background-color: #f44 !important;
}

.signal-danger a:link{
  color: #000;
}

.signal-danger a:visited{
  color: #000;
}

.signal-danger a:active{
  color: #000;
}

.signal-danger a:hover{
  color: #000;
}

.signal-warning{
  background-color: #ff0;
}

.signal-ok{
  background-color: #0f0;
}

.small-button{
  width: 70px;
  font-size: smaller;
}

.small-title{
  font-weight: bold;
  font-size: 15pt;
}

.store-box{
  margin: .1em;
  border-radius: .5em;
  border: 1px solid #ddd;
}

.tab-header *{
  margin-top: 1em;
  margin-bottom: .6em;
  font-weight: bolder;
}
