body{
  /*padding: 1em;*/
  /*padding-bottom: 1em;*/
  overflow: hidden;
  margin-bottom: 8em;
  margin-top: 5em;
}

#center{
  height: 80vh;
}

#articles_content{
  height: 80%;
}

.bottom_border{
  border-bottom: 1px solid black;
}
.scrollable-panel{
  position: relative;
  height: 100%;
  float:none;
  overflow-y: auto;
}

.loading-screen{
  /*z-index: 2000;*/
  position: fixed;
  top: 0px;
  left: 0px;
  background: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  font-size: 10em;
}

.loading-text{
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.gi-rotate-0{
  transform: rotate(0deg);
  -ms-transform: rotate(0deg); /* IE 9 */
  -moz-transform: rotate(0deg); /* Firefox */
  -webkit-transform: rotate(0deg); /* Safari and Chrome */
  -o-transform: rotate(0deg); /* Opera */
}

.gi-rotate-90{
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}

.gi-rotate-180{
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

.gi-rotate-270{
  transform: rotate(270deg);
  -ms-transform: rotate(270deg); /* IE 9 */
  -moz-transform: rotate(270deg); /* Firefox */
  -webkit-transform: rotate(270deg); /* Safari and Chrome */
  -o-transform: rotate(270deg); /* Opera */
}

.gimage{

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.half{
  height:45%;
}

.inline{
  position: relative;
  clear: none;
  display: inline-block;
}

.internal-panel{
  position: relative;
  height: 100%;
  float:none;
  overflow-y: hidden;
  margin-bottom: 1em;
  padding-bottom: 20em;
}

.h58{
  height: 58%;
}

.floor{
  position: absolute;
  bottom: 0vh;
}

.item_box{
  margin: .4em
}

.input-row{
  margin-top: .25em;
  margin-bottom: .25em;
}

.ontop{
  position: fixed;
  z-index: 2000;
}

.right-aligned{
  float: right;
}
.signal-danger{
  background-color: #f44;
}

.signal-danger a:link{
  color: #000;
}

.signal-danger a:visited{
  color: #000;
}

.signal-danger a:active{
  color: #000;
}

.signal-danger a:hover{
  color: #000;
}

.signal-warning{
  background-color: #ff0;
}

.signal-ok{
  background-color: #0f0;
}

.store-box{
  margin: .1em;
  border-radius: .5em;
  border: 1px solid #ddd;
}

.positioned-item{
  background-color: #9fb;
  border: 1px solid #7d9;
}

.selected-item{
  background-color: #99f;
  border: 1px solid #77d;
}

.error-item{
  background-color: #f99;
  border: 1px solid #d77;
}

.datepicker-dropdown{
  z-index: 2001;
}

.small-button{
  width: 70px;
  font-size: smaller;
}

.hover-hilight{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.colored:nth-child(even){
  background-color: #eee;
}

.hover-hilight:hover{
  background-color: #ccc;
  cursor: pointer;
}

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90vw;
  height: 75vh;
  border: .2em solid #f00;
  border-radius: 1em;
  background-color: #fff;
  padding: 2em;
  overflow: hidden;
}

.gallery-popup{
  padding-left: 0px;
}

.popup-content{
  overflow: auto;
}

.tab-header *{
  margin-top: 1em;
  margin-bottom: .6em;
  font-weight: bolder;
}

.close{
  margin: 1em;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
}
