- worksheets.each do |ws|
  .row.colored
    .col-sm-2
      =button_to "PDF", worksheet_get_pdf_path(ws.id,format: :pdf), class: 'no-loader'
    .col-sm-3
      ="N. #{ws.number}"
    .col-sm-7
      ="Chiuso il: #{I18n.l ws.closingDate}"
