- worksheets.each_with_index do |ws,i|
  - @vehicle = ws.vehicle if i == 0
  .row.colored.hilight.selectable.ajax-link{ data: { method: :post, target: info_for_workshop_path(id: ws.vehicle.id) } }
    .col-sm-2
      =button_tag 'Apri'
    .col-sm-3
      ="n. #{ws.number}"
    .col-sm-2
      =ws.vehicle.plate
    .col-sm-4
      ="#{I18n.l ws.created_at}"
