
.row
  %ul.nav.nav-tabs

    %li{class: (@tab.nil? || @tab == 'building_presence') ? 'active' : ''}
      =link_to "Presenti ora", '#tab-building_presence', data: { toggle: 'tab'}, class: 'no-loader change-tab'
    %li{class: @tab == 'presence' ? 'active' : ''}
      =link_to "Presenze", '#tab-presence', data: { toggle: 'tab'}, class: 'no-loader change-tab'
    %li{class: @tab == 'schedules' ? 'active' : ''}
      =link_to "Orari", '#tab-schedules', data: { toggle: 'tab'}, class: 'no-loader change-tab'

.row
  .tab-content
    %div{style: 'height:85%', id: 'tab-building_presence', class: @tab.nil? || @tab == 'schedules' ? 'tab-pane active' : 'tab-pane'}
      = render partial: 'presence/building_presence'
    %div{style: 'height:85%', id: 'tab-presence', class: @tab == 'presence' ? 'tab-pane active' : 'tab-pane'}
      = render partial: 'presence/presence'
    %div{style: 'height:85%', id: 'tab-schedules', class: @tab == 'schedules' ? 'tab-pane active' : 'tab-pane'}
      = render partial: 'presence/schedules'

:javascript

  $('.change-tab').on('click',function(){
    var tab = $(this).attr('href').substring(5);
    var data = $('.person-select').data('data');
    data['tab'] = tab;
    data['month'] = $('select[name=month]');
    data['year'] = $('input[name=year]');

    $('#person-select').data('data',data);
  })
