#presence
  .row
    .col-sm-4
      %h3="Presenze: #{@person.list_name}"
    .col-sm-2
      Mese
      = select_tag :month, options_for_select(['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno','Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre'], {selected: (Date.today - 20.days).strftime("%m").to_i}), class: 'form-control'
    .col-sm-2
      Anno
      = number_field_tag :year, (Date.today - 20.days).strftime("%Y").to_i, class: 'form-control'
